.btn {
  padding: 8px 48px;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: var(--white-color);
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.btn--black {
  background-color: var(--black-color);
}

.btn--blue {
  background-color: var(--blue-color);
}
