header {
  display: flex;
  justify-content: center;
}

.navigation {
  position: absolute;
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  z-index: 9;
  padding: 20px 0px;
  border-bottom: 1px solid var(--black-color);
  transition: 0.5s;
}

.navigation--black {
  background-color: var(--black-color) !important;
}

.navigation__menu {
  display: flex;
}

.navigation__logo span {
  font-size: 40px;
  position: absolute;
  top: 7px;
}

.navigation__logo--black {
  color: var(--white-color);
}

.navigation__logo--white {
  color: var(--black-color);
}

.nav-icon {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-left: 20px;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--black-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 1s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(2) {
  top: 10px;
}

.nav-icon span:nth-child(3) {
  top: 20px;
}

.nav-icon--open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
  background: var(--white-color);
}

.nav-icon--open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon--open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
  background: var(--white-color);
}

.nav-flyout {
  position: absolute;
  background: var(--black-color);
  color: var(--white-color);
  transition: transform 0.6s ease-out;
  width: 100%;
  padding: 100px 0px;
  justify-content: center;
  z-index: 8;
}

.nav-flyout__links {
  width: calc(100% - 300px);
}

.nav-flyout__link {
  cursor: pointer;
  display: block;
  border-bottom: 1px solid rgba(163, 163, 163, 0.5);
  font-size: 80px;
  text-align: right;
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
}

.nav-flyout__link:hover .nav-flyout__icon {
  opacity: 1;
}

.nav-flyout--open {
  display: flex;
  transform: translateY(0);
}

.nav-flyout--closed {
  display: flex;
  transform: translateY(-100%);
}

.nav-flyout__icon {
  display: inline-block;
  margin: -5px 10px;
  opacity: 0;
  transition: opacity 0.8s ease-out;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .navigation {
    width: calc(100% - 100px);
  }

  .nav-flyout__links {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    background-color: var(--white-color);
    padding: 20px;
    border-bottom: none;
  }

  .nav-flyout__links {
    width: calc(100% - 40px);
  }

  .nav-flyout__link {
    font-size: 50px;
  }
}
