.testimonial {
  border-top: 2px solid var(--light-grey-color);
}

.testimonial__text-wrapper {
  width: 70%;
  padding: 30px 0px;
  margin: 0 auto;
}

.testimonial__text {
  font-size: 36px;
  line-height: 1.28;
}

.testimonial__author {
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 2.31;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .testimonial__text-wrapper {
    width: 100%;
    padding: 30px 0px;
    margin: 0 auto;
  }
}
