@import url('https://fonts.googleapis.com/css?family=Teko');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  /* COLOR STYLES */
  --blue-color: #1a18f7;
  --white-color: #ffffff;
  --black-color: #0e0e0e;
  --grey-color: #939393;
  --light-grey-color: #dddddd;
  --greyish-color: #a3a3a3;
}


